* {
    -fx-background-color: #4e4e4e;
    -fx-text-fill: #e6e6e6;
}

.menu-bar {
    -fx-border-color: #bababa;
}

/*.menu:hover {*/
    /*-fx-background-color: #e4e520;*/
/*}*/

/*.root {*/
    /*-fx-base: #ececec;*/
    /*-fx-background: derive(-fx-base, 26.4%);*/
    /*-fx-outer-border: derive(-fx-color,-23%);*/
    /*-fx-color: -fx-base;*/
/*}*/

/*******************************************************************************
 *                                                                             *
 * MenuBar                                                                     *
 *                                                                             *
 ******************************************************************************/
.menu-bar {
    -fx-background-color: #e6e6e6;
            /*linear-gradient(to bottom, derive(-fx-base,75%) 0%, -fx-outer-border 90%),*/
            /*linear-gradient(to bottom, derive(-fx-base,46.9%) 2%, derive(-fx-base,-2.1%) 95%);*/
}
/* Hide the down arrow for a menu placed in a menubar */
.menu-bar > .container > .menu-button > .arrow-button > .arrow {
    -fx-background-color: transparent;
}
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background: -fx-selection-bar;
    -fx-background-color: #e4e520;
            /*-fx-background;*/
}
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing  > .label {
    -fx-text-fill: -fx-text-background-color;
}

/*******************************************************************************
 *                                                                             *
 * MenuItem                                                                    *
 *                                                                             *
 ******************************************************************************/
.menu-item {
    -fx-background-color: transparent;
}
.menu-item >.label {
    -fx-text-fill: -fx-text-base-color;
}
.menu-item:focused {
    -fx-background: -fx-selection-bar;
    -fx-background-color: -fx-background;
    -fx-text-fill:  -fx-text-background-color;
}
.menu-item:focused > .label {
    -fx-text-fill: -fx-focused-text-base-color;
}
